.sketch_clip_path {
  -webkit-clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
  clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
  animation: reveal 0.3s 1s ease-in both;
}

@keyframes reveal {
  from {
    -webkit-clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
    clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.dd {
  animation: reveal2 0.5s 1s ease-in both;
  -webkit-clip-path: polygon(
    53% 30%,
    68% 41%,
    71% 60%,
    62% 71%,
    58% 93%,
    40% 93%,
    39% 76%,
    32% 64%,
    29% 48%,
    36% 35%
  );
  clip-path: polygon(
    53% 30%,
    68% 41%,
    71% 60%,
    62% 71%,
    58% 93%,
    40% 93%,
    39% 76%,
    32% 64%,
    29% 48%,
    36% 35%
  );
}

@keyframes reveal2 {
  from {
    -webkit-clip-path: polygon(
      53% 30%,
      68% 41%,
      71% 60%,
      62% 71%,
      58% 93%,
      40% 93%,
      39% 76%,
      32% 64%,
      29% 48%,
      36% 35%
    );
    clip-path: polygon(
      53% 30%,
      68% 41%,
      71% 60%,
      62% 71%,
      58% 93%,
      40% 93%,
      39% 76%,
      32% 64%,
      29% 48%,
      36% 35%
    );
  }
  to {
    -webkit-clip-path: polygon(
      50% 0,
      100% 0,
      100% 39%,
      100% 67%,
      100% 100%,
      51% 100%,
      0 100%,
      0 56%,
      0 26%,
      0 0
    );
    clip-path: polygon(
      50% 0,
      100% 0,
      100% 39%,
      100% 67%,
      100% 100%,
      51% 100%,
      0 100%,
      0 56%,
      0 26%,
      0 0
    );
  }
}

.hovering-img {
  animation: hoverAnimation 2s infinite alternate;
}

@keyframes hoverAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.hovering-img2 {
  animation: hoverAnimation2 2.5s infinite alternate;
}

@keyframes hoverAnimation2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20px);
  }
}

.hovering-img3 {
  animation: hoverAnimation3 2.3s infinite alternate;
}

@keyframes hoverAnimation3 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px);
  }
}


.transform180 {
  transform: tran;
}