@font-face {
  font-family: "ClashDisplay";
  src: url("./assets/fonts/clashDisplay/ClashDisplay-Variable.woff2")
      format("woff2"),
    url("./assets/fonts/clashDisplay/ClashDisplay-Variable.woff") format("woff"),
    url("./assets/fonts/clashDisplay/ClashDisplay-Variable.ttf")
      format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("./assets/fonts/clashDisplay/ClashDisplay-Extralight.woff2")
      format("woff2"),
    url("./assets/fonts/clashDisplay/ClashDisplay-Extralight.woff")
      format("woff"),
    url("./assets/fonts/clashDisplay/ClashDisplay-Extralight.ttf")
      format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("./assets/fonts/clashDisplay/ClashDisplay-Light.woff2")
      format("woff2"),
    url("./assets/fonts/clashDisplay/ClashDisplay-Light.woff") format("woff"),
    url("./assets/fonts/clashDisplay/ClashDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("./assets/fonts/clashDisplay/ClashDisplay-Regular.woff2")
      format("woff2"),
    url("./assets/fonts/clashDisplay/ClashDisplay-Regular.woff") format("woff"),
    url("./assets/fonts/clashDisplay/ClashDisplay-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("./assets/fonts/clashDisplay/ClashDisplay-Medium.woff2")
      format("woff2"),
    url("./assets/fonts/clashDisplay/ClashDisplay-Medium.woff") format("woff"),
    url("./assets/fonts/clashDisplay/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("./assets/fonts/clashDisplay/ClashDisplay-Semibold.woff2")
      format("woff2"),
    url("./assets/fonts/clashDisplay/ClashDisplay-Semibold.woff") format("woff"),
    url("./assets/fonts/clashDisplay/ClashDisplay-Semibold.ttf")
      format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("./assets/fonts/clashDisplay/ClashDisplay-Bold.woff2") format("woff2"),
    url("./assets/fonts/clashDisplay/ClashDisplay-Bold.woff") format("woff"),
    url("./assets/fonts/clashDisplay/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}


